.panel-title {
  display: table;
  float: left;
  height: 100%;
  padding-right: 5px;
}

.panel-title .left-content {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
  font-size: 11px;
}

.panel-grid-wrapper {
  position: relative;
  overflow-y: hidden;
}

.panel .panel-title,
.panel .panel-grid-wrapper {
  height: 100%;
}

.allday-panel {
  position: relative;
  height: 100%;
  overflow-y: hidden;
}

.allday-panel .grid-selection {
  position: absolute;
  right: 10px;
  z-index: 1;
  top: 0;
}

.panel-grid {
  height: 100%;
  position: absolute;
}

.panel-event-wrapper {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow-y: scroll;
}

.panel-event-wrapper .weekday-event-block {
  position: absolute;
}

.panel-event-wrapper .weekday-event {
  position: relative;
  margin: 0 10px 0 1px;
  cursor: pointer;
  border-left-style: solid;
  border-left-width: 3px;

  height: 18px;
  border-radius: 0;
  color: #9a1313;
  background-color: rgba(218, 27, 27, 0.2);
  border-color: #da1b1b;
}

.panel-event-wrapper .weekday-exceed-right .weekday-event {
  margin-right: 0;
}

.panel-event {
  position: absolute;
  border: 1px solid #333;
}

.weekday-exceed-in-week {
  position: absolute;
  right: 5px;
  bottom: 5px;
  z-index: 1;
  margin-right: 5px;
  font-size: 12px;
  line-height: 14px;
  cursor: pointer;
  padding: 1px 5px;
  background-color: #fff;
  border: 1px solid #ddd;
  color: #000;
}

.collapse-btn-icon {
  display: inline-block;
  vertical-align: middle;
  margin: -1px -14px 0 -4px;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 5px solid #4f5959;
}

.day-view .panel:not(.time),
.week-view .panel:not(.time) {
  overflow-y: scroll;
}
