.panel .panel-title,
.panel .panel-grid-wrapper {
  height: 100%;
}

.panel-title {
  float: left;
  height: 100%;
  padding-right: 5px;
  border-right: 1px solid #ddd;
}

.panel-milestone {
  position: relative;
  height: 100%;
  overflow-y: hidden;
}

.panel-grid-wrapper {
  position: relative;
  overflow-y: hidden;
}

.panel-grid {
  height: 100%;
  position: absolute;
}

.panel-schedule-wrapper {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.panel-schedule {
  position: absolute;
  border: 1px solid #333;
}

.weekday-exceed-in-week {
  position: absolute;
  right: 5px;
  bottom: 5px;
  z-index: 1;
  margin-right: 5px;
  font-size: 12px;
  line-height: 14px;
  cursor: pointer;
  padding: 1px 5px;
  background-color: #fff;
  border: 1px solid #ddd;
  color: #000;
}
