.month {
  height: 100%;
}

.month-week-item {
  position: relative;
}

.month-daygrid {
  position: relative;
}

.weekday-grid {
  position: absolute;
  min-height: inherit;
  width: 100%;
  height: 100%;
}

.daygrid-cell {
  position: absolute;
  border-right: 1px solid #e5e5e5;
  height: 100%;
  min-height: inherit;
  padding-top: 3px;
  padding-bottom: 3px;
}

.grid-cell-date {
  display: inline-block;
  width: 27px;
  height: 27px;
  line-height: 1.7;
  text-align: center;
}

.grid-cell-more-events {
  float: right;
  height: 27px;
  line-height: 2.45;
  padding: 0 5px;
  text-align: center;
  font-size: 11px;
  font-weight: bold;
  color: #aaa;
  border: none;
  background-color: transparent;
}

.weekday-schedules {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 12px;
}
.weekday {
  height: 100%;
}

.weekday .daygrid-creation-guide {
  position: absolute;
  right: 10px;
  background-color: rgba(81, 92, 230, 0.05);
  border: 1px solid #515ce6;
}
