{{#each this}}
<div class="{{dayname-isHolliday}}" style="width:{{elSize width}}">
    <div class="view-dayname-dayname">{{dayName}}</div>
    <div class="view-dayname-date">{{date}}</div>
</div>
{{/each}}
