{{#each this}}
<div class="{{dayname-isHolliday}}" style="{{common-width width}}">
    <div class="schedule-view-dayname-label">{{dayName}}</div>
    <div class="schedule-view-dayname-date">{{date}}</div>
</div>
{{/each}}
