<div class="view-time">
    <ul class="view-time-left">
        {{#each hours}}<li>{{hour}}</li>{{/each}}
    </ul>
    <div class="view-time-right">
        {{#each hours}}<div class="view-time-grid"></div>{{/each}}
    </div>
    <div class="view-time-events">
        <div class="view-time-events-container"></div>
    </div>
    <div class="view-time-hourmarker" style="display:none;">
        <div class="view-time-hourmarker-wrap">
            <div class="view-time-hourmarker-line"></div>
            <div class="view-time-hourmarker-time">00:00</div>
            <div class="view-time-todaymarker">today</div>
        </div>
    </div>
</div>
