{{#each matrices}}
    {{#each this}}
        {{#each this}}
            {{#if this}}
            <div class="view-time-date-event-block" style="{{time-eventBlock this}}">
                <div class="view-time-event">
                    {{model.title}}
                </div>
            </div>{{/if}}
        {{/each}}
    {{/each}}
{{/each}}
