{{#each matrices}}
    {{#each this}}
        {{#each this}}
            {{#if this}}
            <div class="schedule-view-time-date-event-block" data-id="{{stamp model}}" style="{{time-eventBlock this}}">
                <div class="schedule-view-time-event">{{model.title}}</div>
                <div class="schedule-view-time-resize-handle">=</div>
            </div>{{/if}}
        {{/each}}
    {{/each}}
{{/each}}
