{
    "extends": "tui",
    "globals": {
        "chance": true,
        "moment": true
    },
    "rules": {
        "linebreak-style": "off",
        "complexity": "off",
        "no-console": "off"
    }
}
