.floating-layer {
  z-index: 1;
}

.floating-layer * {
  box-sizing: border-box;
}

.popup-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.popup-container {
  position: absolute;
  font-weight: 2.5;
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 10%);
  clear: both;
  z-index: 2;
}

.popup-section {
  font-size: 0;
  min-height: 40px;
}

.popup-button.popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #fff;
  padding: 0;
  border: none;
}

.popup-button.popup-confirm {
  float: right;
  width: 96px;
  height: 36px;
  border-radius: 40px;
  background-color: #ff6618;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  border: none;
}

.dropdown-menu {
  position: absolute;
  width: 100%;
  top: 31px;
  z-index: 1;
  padding: 4px 0;
  background-color: #fff;
  border: 1px solid #d5d5d5;
  border-top: none;
  border-radius: 0 0 2px 2px;
}

.dropdown-menu.open {
  display: block;
}

.dropdown-menu-item {
  width: 100%;
  height: 30px;
  border: none;
  padding: 0 9px 0 12px;
  font-size: 0;
  border-radius: 2px;
  cursor: pointer;
}

.popup-arrow-border,
.popup-arrow-fill {
  position: absolute;
}
