.detail-container {
  width: 301px;
  min-width: 301px;
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 10%);
  background-color: #fff;
  border: solid 1px #d5d5d5;
  padding: 17px 17px 0;
  border-radius: 2px;
}

.detail-container .section-header {
  margin-bottom: 6px;
}

.detail-container .section-detail {
  margin-bottom: 16px;
}

.detail-container .section-button {
  border-top: 1px solid #e5e5e5;
  font-size: 0;
}

.detail-container .content {
  height: 24px;
  font-size: 12px;
  line-height: 2;
}

.detail-container .icon {
  width: 12px;
  height: 12px;
  background-size: 12px;
  position: relative;
  margin-right: 8px;
}

.detail-container .calendar-dot {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  top: -4px;
  margin-right: 10px;
}

.event-title {
  font-size: 15px;
  font-weight: bold;
  line-height: 1.6;
  word-break: break-all;
}

.detail-item-indent {
  text-indent: -20px;
  padding-left: 20px;
}

.edit-button,
.delete-button {
  display: inline-block;
  padding: 7px 9px 11px 9px;
  width: calc(50% - 1px);
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
}

.vertical-line {
  background: #e5e5e5;
  width: 1px;
  height: 14px;
  vertical-align: middle;
  display: inline-block;
  margin-top: -7px;
}

.section-button .icon {
  margin-right: 4px;
  top: -3px;
}

.section-button .content {
  position: relative;
  top: 2px;
}

.popup-top-line {
  position: absolute;
  border-radius: 2px 2px 0 0;
  width: 100%;
  height: 4px;
  border: none;
  top: 0;
}

.popup-arrow.left .popup-arrow-border {
  border-top: 8px solid transparent;
  border-right: 8px solid #d5d5d5;
  border-bottom: 8px solid transparent;
  border-left: none;
  left: -7px;
}

.popup-arrow.left .popup-arrow-fill {
  border-top: 7px solid transparent;
  border-right: 7px solid #fff;
  border-bottom: 7px solid transparent;
  border-left: none;
  top: -7px;
  left: 1px;
}

.popup-arrow.right .popup-arrow-border {
  border-top: 8px solid transparent;
  border-right: none;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #d5d5d5;
  right: -7px;
}

.popup-arrow.right .popup-arrow-fill {
  border-top: 7px solid transparent;
  border-right: none;
  border-bottom: 7px solid transparent;
  border-left: 7px solid #fff;
  top: -7px;
  right: 1px;
}
