.popup-container {
  position: relative;
  min-width: 474px;
  padding: 17px;
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 10%);
  background-color: #fff;
  border: solid 1px #d5d5d5;
  border-radius: 2px;
  width: 100%;
  height: 100%;
}

.popup-container .grid-selection {
  font-size: 11px;
  font-weight: bold;
}

.popup-section {
  font-size: 0;
  min-height: 40px;
}

.popup-section-item {
  height: 32px;
  padding: 0 9px 0 12px;
  border: 1px solid #d5d5d5;
  display: inline-block;
  font-size: 0;
  border-radius: 2px;
}

.popup-section-item input {
  border: none;
  height: 30px;
  outline: none;
  display: inline-block;
}

.popup-section-item .content {
  text-align: left;
  display: inline-block;
  font-size: 12px;
  vertical-align: middle;
  position: relative;
  padding-left: 8px;
}

.dropdown-section {
  position: relative;
}

.dropdown-section.calendar-section {
  width: 176px;
}

.dropdown-section .content {
  line-height: 30px;
}

.popup-section-title {
  width: calc(100% - 36px);
}

.dot {
  border-radius: 8px;
  width: 12px;
  height: 12px;
  margin: 1px;
}

.content.event-calendar {
  width: 125px;
  text-overflow: ellipsis;
  overflow: hidden;
  top: -1px;
}

.popup-section-location .content {
  width: 400px;
}

.popup-section-allday {
  border: none;
  padding: 0 0 0 8px;
  cursor: pointer;
}

.popup-section-allday .ic-checkbox-normal {
  display: inline-block;
  cursor: pointer;
  line-height: 14px;
  margin: 0;
  width: 14px;
  height: 14px;
  vertical-align: middle;
}

.popup-section-allday .content {
  padding-left: 4px;
}

.popup-start-date-picker,
.popup-end-date-picker {
  width: 176px;
}

.popup-date-dash {
  font-size: 12px;
  color: #d5d5d5;
  height: 32px;
  padding: 0 4px;
  vertical-align: middle;
}

.popup-button {
  background: #fff;
  border: 1px solid #d5d5d5;
  border-radius: 2px;
  text-align: center;
  outline: none;
  font-size: 12px;
  cursor: pointer;
  color: #333;
}

.popup-button.popup-section-private {
  height: 32px;
  padding: 8px;
  font-size: 0;
  margin-left: 4px;
}

.popup-button .event-state {
  width: 58px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.dropdown-section.state-section {
  width: 109px;
}

.state-section .content {
  width: 58px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.popup-section-item.dropdown-menu-item {
  display: block;
  height: 30px;
  border: none;
  cursor: pointer;
}

.popup-section-item.popup-button {
  height: 32px;
  font-size: 0;
  top: -1px;
}
