.form-container {
  min-width: 474px;
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 10%);
  background-color: #fff;
  border: 1px solid #d5d5d5;
  padding: 17px;
  border-radius: 2px;
}

.form-container .hidden-input {
  display: none;
}

.form-container .grid-selection {
  font-size: 11px;
  font-weight: bold;
}

.popup-section-item {
  height: 32px;
  padding: 0 9px 0 12px;
  border: 1px solid #d5d5d5;
  display: inline-block;
  font-size: 0;
  border-radius: 2px;
}

.popup-section-item input {
  border: none;
  height: 30px;
  outline: none;
  display: inline-block;
}

.popup-section-item .content {
  text-align: left;
  display: inline-block;
  font-size: 12px;
  vertical-align: middle;
  position: relative;
  padding-left: 8px;
}

.popup-date-picker .content {
  max-width: 125px;
}

.dropdown-section {
  position: relative;
}

.dropdown-section.calendar-section {
  width: 176px;
}

.dropdown-section .content {
  line-height: 30px;
}

.popup-section-title input {
  width: 365px;
}

.dot {
  border-radius: 8px;
  width: 12px;
  height: 12px;
  margin: 1px;
}

.content.event-calendar {
  width: 125px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  top: -1px;
}

.popup-section-location .content {
  width: 400px;
}

.popup-section-allday {
  border: none;
  padding: 0 0 0 8px;
  cursor: pointer;
}

.popup-section-allday .ic-checkbox-normal {
  display: inline-block;
  cursor: pointer;
  line-height: 14px;
  margin: 0;
  width: 14px;
  height: 14px;
  vertical-align: middle;
}

.popup-section-allday .content {
  padding-left: 4px;
}

.popup-date-picker {
  width: 176px;
}

.datepicker-container > div {
  z-index: 1;
}

.popup-date-dash {
  font-size: 12px;
  color: #d5d5d5;
  height: 32px;
  padding: 0 4px;
  vertical-align: middle;
}

.popup-button {
  background: #fff;
  border: 1px solid #d5d5d5;
  border-radius: 2px;
  text-align: center;
  outline: none;
  font-size: 12px;
  cursor: pointer;
  color: #333;
}

.popup-button.popup-section-private {
  height: 32px;
  padding: 8px;
  font-size: 0;
  margin-left: 4px;
}

.popup-button .event-state {
  width: 58px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.dropdown-section.state-section {
  width: 109px;
}

.dropdown-section.state-section .popup-button {
  width: 100%;
}

.state-section .content {
  width: 58px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.popup-section-item.dropdown-menu-item {
  display: block;
  height: 30px;
  border: none;
  cursor: pointer;
}

.dropdown-menu-item .content {
  display: inline-block;
  position: relative;
  padding-left: 8px;
  text-align: left;
  font-size: 12px;
  vertical-align: middle;
}

.popup-section-item.popup-button {
  height: 32px;
  font-size: 0;
  top: -1px;
}

.popup-arrow.top .popup-arrow-border {
  border-top: none;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #d5d5d5;
  border-left: 8px solid transparent;
  left: calc(50% - 8px);
  top: -7px;
}

.popup-arrow.top .popup-arrow-fill {
  border-top: none;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #fff;
  border-left: 7px solid transparent;
  left: -7px;
  top: 1px;
}

.popup-arrow.bottom .popup-arrow-border {
  border-top: 8px solid #d5d5d5;
  border-right: 8px solid transparent;
  border-bottom: none;
  border-left: 8px solid transparent;
  bottom: -7px;
}

.popup-arrow.bottom .popup-arrow-fill {
  border-top: 7px solid #fff;
  border-right: 7px solid transparent;
  border-bottom: none;
  border-left: 7px solid transparent;
  left: -7px;
  bottom: 1px;
}
