.see-more-container {
  display: block;
  position: absolute;
  z-index: 1;
}

.see-more {
  height: inherit;
  padding: 5px;
}

.more-title-date {
  font-size: 23px;
  color: #333;
}

.more-title-day {
  font-size: 12px;
  color: #333;
}

.month-more-list {
  overflow: auto;
  padding: 0 17px;
}

.see-more-header {
  position: relative;
  border-bottom: none;
}
