.see-more {
  height: inherit;
}

.more-title-date {
  font-size: 23px;
  color: #333;
}

.more-title-day {
  font-size: 12px;
  color: #333;
}

.month-more-list {
  overflow: auto;
  padding: 0 17px;
}

.see-more-header {
  padding: 12px 17px 0;
  border-bottom: none;
}
