.schedule-view-calendar-form {
    width: 230px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.schedule-view-calendar-form legend {
    font-weight: bold;
}

.schedule-view-calendar-form label {
    font-size: 13px;
    font-weight: bold;
    display: block;
}

.schedule-view-calendar-form table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.schedule-view-calendar-form table td {
    padding: 2px;
    font-size: 11px;
}

.schedule-view-calendar-form table input[type=text] {
    width: 95%;
}

