.{freebusy}container
    min-height: 75px
    height: auto !important
    height: 75px

+prefix-classes(freebusy)
    .left
        background-color: red
        float: left
        width: 80px
        min-height: 75px 
        height: auto !important
        height: 75px


    .right
        margin-left: 80px

    .users
        min-height: 75px
        height: auto !important
        height: 75px
        background-color: blue
        width: 100%

