headerHeight = 20px
minHeightOfFreebusy = 20px
itemHeight = 20px
nameWidth = 80px
headerBottomBorderWidth = 2px

mainBorder = 1px solid #ccc
halfTimeBorder = 1px dotted #eee

+prefix-classes(freebusy)
    .container
        position: relative
        min-height: minHeightOfFreebusy + headerBottomBorderWidth
        padding-top: minHeightOfFreebusy

    .timegrid
        position: absolute
        pos(0, 0)
        width: 100%
        height: 100%
        z-index: -1

    .grid-wrap
        position: relative
        margin-left: nameWidth
        height: 100%

    .grid
        position: absolute
        height: 100%
        border-left: mainBorder
        overflow: visible
        background-image: url(freebusy-half-dot.gif)
        background-position: 49.5% top
        background-repeat: repeat-y
        text-align: center

    .grid > div
        height: headerHeight
        background-color: #fff

    // 일정 표 영역
    .chart
        clearfix()
        border-top: mainBorder
        border-width: headerBottomBorderWidth

    .item
        padding-left: nameWidth
        height: itemHeight
        border-bottom: mainBorder

    .item-last
        border: none

    .name
        position: absolute
        left: 0
        wh(nameWidth, itemHeight)
        line-height: itemHeight

    .blocks
        position: relative
        width: 100%
        height: itemHeight
        float: right
        cursor: pointer

    .block
        position: absolute
        top: 0
        height: itemHeight 
        z-index: 1

    .fill
        height: itemHeight
        background-color: #aaa
        cursor: default

