+prefix-classes(freebusy)
    // Common
    .container
        position: relative
        border: 1px solid #f1f1f1

    .leftmargin
        position: relative
        border-left: 1px solid #f1f1f1

    // 격자선
    .grid
        position: relative
        wh(100%, 100%)

    .gridline
        position: absolute
        height: 100%
        border-left: 1px solid #f1f1f1
        background-image: url(freebusy-half-dot.gif)
        background-position: 49.5% top
        background-repeat: repeat-y
        text-align: center

    .gridline > div
        background-color: #fff
        color: #666

    .gridline-last > div
        margin-right: 1px

    // 사용자 목록, 일정표 영역
    .chart
        position: absolute
        border-top: 1px solid #f1f1f1
        width: 100%

    .item
        border-bottom: 1px solid #f1f1f1

    .name
        position: absolute
        left: 0

    .block-container
        position: relative
        height: 100%;
        border-left: 1px solid #f1f1f1

    .block
        position: absolute
        top: -1px 
        bottom: -1px
        z-index: 1

    .fill
        height: 100%
        background: rgba(19, 93, 230, 0.2)
        border: 1px solid #b4c3de

    // 추천일정 영역
    .recommends
        position: absolute
        width: 100%

    .recommend-block
        position: absolute
        z-index: 2

    .recommend-fill
        border: 1px dashed red
        
    // 선택 효과 영역
    .selection
        position: absolute
        width: 100%
        z-index: 3

    .select
        position: absolute
        background: rgba(19, 93, 230, 0.5)
        height: 100%
        border: 1px solid #789de1

    // 선택 효과 영역
    .selection-over
        position: absolute
        width: 100%
        z-index: 4

    .select-over
        position: absolute
        background-color: rgba(245, 215, 215, 0.3)
        height: 100%
