+prefix-classes(milestone)
    .layout > div
        border-top: 1px solid #ccc
        &:first-child
            border-top: 0;

    .left
        wh(60px, 100%)
        float: left
        text-align: right
        color: #777

    .left span
        display: block
        padding: 3px 5px 0 0

    .right
        position: relative
        background-color: #fff
        margin-left: 60px

    .day
        position: absolute
        background-color: #fff
        margin-left: -1px
        border-left: 1px solid #ccc

    .list
        margin: 2px
        padding: 0
        overflow: hidden

    .item
        font-size: 11px
        list-style: none
        white-space: nowrap
        overflow hidden
