/* milestoneview */
.schedule-view-milestone-left {
    width: 60px;
    height: 100%;
    float: left;
    text-align: right;
    color: #777;
}

.schedule-view-milestone-left span {
    display: block;
    padding: 3px 5px 0 0;
}

.schedule-view-milestone-right {
    background-color: #fff;
    margin-left: 60px;
}

.schedule-view-milestone-day {
    float:left;
    background-color: #fff;
    margin-left: -1px;
    border-left: 1px solid #ccc;
}

.schedule-view-milestone-list {
    margin: 2px; 
    padding: 0;
    overflow: hidden;
}

.schedule-view-milestone-item {
    font-size: 11px;
    line-height: 11px;
    padding-left: 6px;
    list-style: disc inside;
    white-space: nowrap;
    overflow: hidden;
}
