.{css-prefix}minicalendar
    table
        width: 100%
        height: 100%
        font-size: 12px
        table-layout: fixed
        border-collapse: collapse

    caption,
    th,
    td,
    button
        mpzero()
        font-size: 12px
        border: none

    button
        cursor: pointer
        outline: none

    // Disable IE button shifting during click
    button > div
        position: relative
        pos(0, 0)

    // 헤더영역
    caption
        margin: 0 20px
        height: 30px
        line-height: 30px
        font-size: 17px
        text-align: center

    // 일자표기영역
    tbody
        button
            display: block
            wh(100%, 100%)
            text-align: center
            line-height: 100%

+prefix-classes(minicalendar)
    .date,
    .nav
        background-color: transparent

    button.nav
        font-size: 17px

    .title
        color: #333
        font-weight: 600
        margin: 0 10px

    .other-month
        button
            color: #ccc

    .holiday-sun
        color: red
        button
            color: red
        &.other-month
            button
                color: #ffcccc

    .holiday-sat
        color: #4e87ee
        button
            color: #4e87ee
        &.other-month
            button
                color: #bcd1f7

    .focused
        background-color: #eee

    .today
        background-color: #ddd

    .selected
        background-color: #dc9656
        button
            color: #fff

    .marked
        text-decoration: underline

// For Retina Display
@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi)
    +prefix-classes(minicalendar)
        .prev
            background-size: 16px 16px
            background-image: url(minicalendar-prev@2x.png) !important

        .next
            background-size: 16px 16px
            background-image: url(minicalendar-next@2x.png) !important
