/**********
 * service/MiniCalendar
 **********/

.schedule-view-minicalendar table {
    table-layout: fixed;
}

.schedule-view-minicalendar caption {
    text-align: center;
    margin-bottom: 7px;
}

.schedule-view-minicalendar caption button { 
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 16px;
}

.schedule-view-minicalendar-title {
    display: inline-block;
    width: 60px;
}

.schedule-view-minicalendar-prev {
    background-repeat: no-repeat;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAFVBMVEUAAAAYGBgYGBgYGBgYGBgYGBgYGBgQVzdrAAAABnRSTlMAMGBwn+9mPEl4AAAAKklEQVR42q3IsQEAIAyEwDca9h/ZOrRKx+Wl8jN/wfwWNIIyZBtyiCXfuj9BAHLLHGpeAAAAAElFTkSuQmCC);
}

.schedule-view-minicalendar-next {
    background-repeat: no-repeat;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAFVBMVEUAAAAYGBgYGBgYGBgYGBgYGBgYGBgQVzdrAAAABnRSTlMAMGBwn+9mPEl4AAAAK0lEQVR4AWMgGzChC7AxoQuwMaILsDKiCgBF0AWY0ASY0cxgQbMFyKciAAA/yAByPG7VXQAAAABJRU5ErkJggg==);
}

.schedule-view-minicalendar-prev span, 
.schedule-view-minicalendar-next span {
    visibility: hidden;
}

.schedule-view-minicalendar th,
.schedule-view-minicalendar td {
    text-align: center;
    color: #181818;
    position: relative;
    margin: 0;
    padding: 0;
}

.schedule-view-minicalendar-date {
    display: block;
    width: 25px;
    height: 25px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    color: #181818;
    margin: 0;
    padding: 0;
    text-align: center;
}

.schedule-view-minicalendar-other .schedule-view-minicalendar-date {
    color: #b8b8b8;
}

.schedule-view-minicalendar-label {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    line-height: 25px;
}

.schedule-view-minicalendar-has-schedule .schedule-view-minicalendar-label {
    font-weight: bold;
}

.schedule-view-minicalendar-weekend .schedule-view-minicalendar-label {
    color: red;
}

.schedule-view-minicalendar-focused .schedule-view-minicalendar-label {
    color: #f8f8f8;
}

.schedule-view-minicalendar-focused:before{
    content: '';
    margin: 0;
    padding: 0;
    position: absolute;
    display: block;
    width: 25px;
    height: 25px;
    top: 50%;
    left: 50%;
    margin-top: -50%;
    margin-left: -50%;
    background-color: #b8b8b8;
    border-radius: 50%;
}

/* emphasize selected today */
.schedule-view-minicalendar-today:before {
    background-color: #86c1b9;
}


@media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-devicepixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
    .schedule-view-minicalendar-prev {
        background-size: 16px 16px;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAJFBMVEUAAAAYGBgYGBgYGBgYGBgYGBgYGBgYGBgYGBgYGBgYGBgYGBiiMmCyAAAAC3RSTlMAEDBQYICPn7/P7zznF8oAAABESURBVHgB7co5DoAwEMVQsy///vcFJLpI4z6KWz+6bbJ/2Y/9GpypwZE3+5FfgD0CbgPzLzCBCYoWA6wfMIEJpI2m0QOuugMZwyotsAAAAABJRU5ErkJggg==);
    }

    .schedule-view-minicalendar-next {
        background-size: 16px 16px;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAJFBMVEUAAAAYGBgYGBgYGBgYGBgYGBgYGBgYGBgYGBgYGBgYGBgYGBiiMmCyAAAAC3RSTlMAEDBQYICPn7/P7zznF8oAAABDSURBVHja7dCpEQAgAAPB8D/pv18EGs4znM2q6L0CgUHCJEzCdifgdgUkTMK7SmACmPEIaBfsGyT4IesW7aJdRb9TC7ZeAxm35nCDAAAAAElFTkSuQmCC);
    }
}
