.{css-prefix}minicalendar
    table
        width: 100%
        height: 100%
        font-size: 0.9em
        table-layout: fixed
        border-collapse: collapse

    caption,
    th,
    td,
    button
        mpzero()
        font-size: 1em
        background-color: transparent
        border: none

    button
        cursor: pointer
        outline: none

    // Disable IE button shifting during click
    button > div
        position: relative
        pos(0, 0)

    // 헤더영역
    caption
        margin: 0 20px
        height: 30px
        line-height: 25px
        font-size: 1.2em
        text-align: center 

        .prev,
        .next,
        .title
            display: inline-block
            line-height: inherit

        .prev,
        .next
            width: 16px
            background-repeat: no-repeat
            background-position: center center 

        .prev span,
        .next span
            visibility: hidden

        .prev
            background-image: url(minicalendar-prev.png)

        .next
            background-image: url(minicalendar-next.png)

        .title
            font-size: 1.1em
            width: 80px

    // 일자표기영역
    tbody
        button
            display: block
            wh(100%, 100%)
            text-align: center
            line-height: 100%

+prefix-classes(minicalendar)
    .other-month
        button
            color: #ccc

    .weekend
        button
            color: red

    .weekend.other-month
        button
            color: #ffcccc

    .focused
        background-color: #eee

    .today
        background-color: #ddd

    .selected
        background-color: #dc9656
        button
            color: #fff


// For Retina Display
@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi)
    +prefix-classes(minicalendar)
        .prev
            background-size: 16px 16px
            background-image: url(minicalendar-prev@2x.png) !important

        .next
            background-size: 16px 16px
            background-image: url(minicalendar-next@2x.png) !important
