/* taskview */
.schedule-view-task-left {
    width: 60px;
    height: 100%;
    float: left;
    text-align: right;
    color: #777;
}

.schedule-view-task-left span {
    display: block;
    padding: 3px 5px 0 0;
}

.schedule-view-task-right {
    background-color: #fff;
    margin-left: 60px;
}

.schedule-view-task-day {
    float:left;
    background-color: #fff;
    margin-left: -1px;
    border-left: 1px solid #ccc;
}

.schedule-view-task-day-wrap {
    padding: 2px;
}

.schedule-view-task-day h6,
.schedule-view-task-day ul {
    margin: 0; padding: 0;
}

.schedule-view-task-day h6 {
    font-size: 11px;
    padding-bottom: 1px;
}


.schedule-view-task-day li {
    font-size: 11px;
    padding-left: 6px;
    list-style: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
