+prefix-classes(taskview)
    .container
        height: 100%

    .left
        color: #777

    .left span
        display: block;
        padding: 3px 5px 0 0

    .day
        position: absolute
        background-color: #fff
        margin-left: -1px
        border-left: 1px solid #ccc
        height: 100%

    .day-wrap
        margin: 2px
        padding: 0
        overflow: hidden

    .duedate-class strong
        font-weight: normal

    .list
        margin: 0
        padding: 0
        list-style: none

    .item
        list-style: none
        white-space: nowrap
        overflow hidden
        line-height: 18px
        height: 18px
        margin-top: 2px
