+prefix-classes(taskview)
    .left
        wh(60px, 100%)
        float: left
        text-align: right
        color: #777

    .left span
        display: block;
        padding: 3px 5px 0 0

    .right
        background-color: #fff
        margin-left: 60px

    .day
        float: left
        background-color: #fff
        margin-left: -1px
        border-left: 1px solid #ccc
        
    .day-wrap
        margin: 2px
        padding: 0
        overflow: hidden

    .duedate-class strong
        font-weight: normal

    .list
        margin: 0
        padding: 0
        list-style: none
