+prefix-classes(taskview)
    .left
        wh(60px, 100%)
        float: left
        text-align: right
        color: #777

    .left span
        display: block;
        padding: 3px 5px 0 0

    .right
        background-color: #fff
        margin-left: 60px

    .day
        float: left
        background-color: #fff
        margin-left: -1px
        border-left: 1px solid #ccc
        
    .day-wrap
        margin: 2px
        padding: 0
        overflow: hidden

    .day h6,
    .day ul
        margin: 0
        padding: 0

    .day h6
        font-size: 11px

    .day li
        font-size: 11px
        padding-left: 6px
        list-style: none
        white-space: nowrap
        overflow: hidden
