html, body {
    background-color: #fff;
    margin: 0;
    padding: 0 11px;
    height: 100%;
    font-family: "Nanum Gothic", "Meiryo", "Noto Sans JP", sans-serif, Lucida Sans Unicode;
}

div {
    box-sizing: border-box
}

#wrap {
    height: 100%;
    position: relative;
}

#calendar {
    position: absolute;
    top: 70px;
    right: 0px;
    bottom: 20px;
    left: 0px;
    z-index: 1;
}

.control {
    height: 40px;
    line-height: 40px;
}

.clearfix {
    *zoom: 1;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

.inline-block {
    display: inline-block;
}

.float-right {
    float: right;
}

.calendar-options {
    font-size: 12px;
}

.tui-full-calendar-month-more-close {
    margin-top: 3px;
    cursor: pointer;
}

.tui-full-calendar-month-week-item .tui-full-calendar-today > .tui-full-calendar-weekday-grid-date-decorator {
    width: auto;
    border-radius: 27px;
    padding: 0 5px;
}

.tui-full-calendar-month-week-item .tui-full-calendar-weekday-grid-date-title {
    color: red;
}