// Allday view
+prefix-classes(allday)
    .right
        overflow-y: hidden
    .container
        height: 100%

    .left
        background-color: #fafafa

// Guide element
+prefix-classes(allday + guide-)
    .creation-block
        position: absolute
        top: 0
        bottom: 0
        border: 1px solid #135de6
        background-color: rgba(19, 93, 230, 0.1)

    .move
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2)
