// Allday view
+prefix-classes(allday)
    .container
        height: 100%

    .left
        wh(59px, 100%)
        float: left
        text-align: right
        color: #777
        border-right: 1px solid #ccc

    .left span
        display: block
        padding: 3px 5px 0 0

    .right
        height: 100%
        background-color: #fff
        margin-left: 60px
        overflow-y: scroll

// Guide element
+prefix-classes(allday + guide-)
    .creation-block
        position: absolute

    .creation-block span
        position: absolute
        pos(0px, 3px)
        display: block
        line-height: 18px
        margin-top: 2px
        padding-left: 3px
        color: #fff
        vendor(text-shadow, 0px 0px 2px #282828)

    .creation
        margin: 2px 3px 0 2px
        padding-left: 3px
        background-color: #f7ca88
        line-height: 18px
        opacity: 0.9
        overflow: hidden
        white-space: nowrap
        text-overflow: ellipsis
        &:after
            content: '\00a0'

    // Resize guide element use Move guide style.
    .move
        opacity: 0.6


