.{css-prefix}holiday-sun
    color: red

.{css-prefix}holiday-sat
    color: #4e87ee

.{css-prefix}dayname
    top: 0;
    position: absolute;
    height: 37px;
    margin-left: -1px;
    border-left: 1px solid #e7e7e7;
    background-color: #f1f1f3;
    line-height: 37px
    text-align: center

+prefix-classes(dayname)
    .container
        height: 37px
        border-bottom: 1px solid #e7e7e7
        background-color: #f1f1f3;

    .leftmargin
        position: relative
        margin-left: 90px

    .label
        font-size: 1.1em
        font-weight: bold

    .date
        font-size: 1.1em
        font-weight: bold

