/* dayname view */
.schedule-view-dayname-container {
    padding-left:60px;
    height: 40px;
    background-color: #eee;
}

.schedule-view-dayname {
    height: 40px;
    margin-left: -1px;
    border-left: 1px solid #ccc;
    background-color: #fff;
    float: left;
    line-height: 20px;
}

.schedule-view-dayname-label {
    padding-left: 7px;
    font-size: 1.2em;
}

.schedule-view-dayname-date {
    padding-left: 7px;
    font-size: 1.3em;
    font-weight: bold;
}

.schedule-holliday {
    color: red;
}
