+prefix-classes(milestone)
    .container
        height: 100%

    .layout > div
        border-top: 1px solid #ccc
        &:first-child
            border-top: 0;

    .right
        overflow-y: hidden;

    .day-grid-wrap
        overflow-y: scroll
        width: 100%
        height: 100%
        position: absolute

    .day-grid
        border-left: 1px solid #ccc
        float: left
        margin-left: -1px
        height: 100%

    .day-scroll
        height: 100%
        overflow-y: scroll
        position: relative

    .day
        position: absolute
        margin-left: -1px
        height: 100%

    .list
        margin: 0
        padding: 1px 5px 0
        overflow: hidden
        min-height: 100%

    .item
        font-size: 11px
        list-style: none
        line-height: 16px
        margin-bottom: 1px
        white-space: nowrap
        overflow hidden
