+prefix-classes(timegrid)
    .container
        height: 100%
        position: relative
        overflow: hidden
        overflow-y: scroll

    .container-split
        height: 100%
        position: relative
        overflow: hidden

    .left
        position: absolute
        wh(90px, auto)

    .hour
        height: 40px
        border-right: 1px solid #e8e8e8
        color: #777
        text-align: right
        &:last-child
            border-bottom: none

    .hour span
        line-height: 25px
        padding-right: 5px

    .right
        position: relative
        margin-left: 90px

    .h-grid
        background-color: #fff

    .gridline
        height: 39px
        border-bottom: 1px solid #e8e8e8
        &:last-child
            border-bottom: none

    .gridline:after
        content: ''
        display: block
        height: 19px
        border-bottom: 1px dotted #eee

    .events
        position: absolute
        wh(100%, 100%)
        pos(0, 0)

    // Hourmarker
    .hourmarker
        position: absolute
        width: 100%
        z-index: 98

    .hourmarker-wrap
        position: relative

    .hourmarker-line
        wh(100%, 1px)
        background-color: red

    .hourmarker-time
        position: absolute
        width: 55px
        left: -60px
        text-align: right
        line-height: 0.1em
        color: red

    // Todaymarker
    .todaymarker
        position: absolute
        text-indent: -9999px
        wh(5px, 5px)
        background-color: red
        margin: -3px 0 0 -3px
        border-radius: 50%
        z-index: 99

+prefix-classes(time)
    .date
        position: absolute
        height: 100%
        margin-left: -1px
        border-right: 1px solid #ccc
        &:last-child
            border-right: none
            margin: 0
            // last creation guide element
            .event,
            .guide-creation
                left: 0px

    .date-event-block
        position: absolute
        right: 0px

    .event
        position: relative
        left: 1px
        margin-right: 7px
        height: 100%
        font-size: 0.9em

    .resize-handle
        position: absolute
        right: 7px
        bottom: 0px
        left: 0px
        text-align: center
        color: #fff
        cursor: row-resize
        background-position: center 7px

    // Guide element
    .guide-creation
        position: absolute
        right: 2px
        left: 1px
        background-color: #7cafc2
        opacity: 0.8

    .guide-move,
    .guide-resize
        .event,
        .resize-handle
            opacity: 0.8
            z-index: 97

    .guide-creation-label
        padding-left: 1px
        color: #fff
        cursor: default

    .guide-bottom
        position: absolute
        bottom: 0;


+prefix-classes(split-timegrid)
    .container
        height: 100%
        position: relative
        overflow: hidden

    .left
        position: absolute
        wh(30px, auto)

    .hour
        height: 25px
        border-right: 1px solid #f1f1f1
        color: #777
        text-align: right
        &:last-child
            border-bottom: none

    .hour span
        line-height: 15px
        padding-right: 5px

    .right
        position: relative
        margin-left: 30px

    .h-grid
        background-color: #fff

    .gridline
        height: 25px
        border-bottom: 1px solid #f1f1f1
        &:last-child
            border-bottom: none

    .events
        position: absolute
        wh(100%, 100%)
        pos(0, 0)

    .schedule
        border: 1px solid #ff0000
        position: absolute
        width: 100%
        box-sizing: border-box
        background: rgba(245, 215, 215, 0.3)