/* timegrid view */
.schedule-view-timegrid-container {
    height: 416px;
    overflow-y: scroll;
    background-color: #ccc;
}

.schedule-view-timegrid-scroll-contents {
    height: 416px;
}

.schedule-view-timegrid {
    position: relative;
    overflow: hidden;
    background-color: #fff;
}

.schedule-view-timegrid-left {
    width: 60px;
    float: left;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.schedule-view-timegrid-left li {
    padding: 3px 5px 0 0;
    width: 54px;
    height: 36px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    text-align: right;
    background-color: #eee;
    color: #777;
}

.schedule-view-timegrid-left li:last-child {
    border-bottom: none;
}

.schedule-view-timegrid-right {}

.schedule-view-timegrid-grid {
    margin-top:19px;
    border-top: 1px dotted #eee;
    height: 19px;
    border-bottom: 1px solid #ccc;
}

.schedule-view-timegrid-grid:last-child {
    border-bottom: none;
}

.schedule-view-timegrid-events {
    position:absolute;
    width: 100%;
    height: 100%;
    top: 0px;
}

.schedule-view-timegrid-events-container {
    margin-left:60px;
    height: 100%;
}

    /* timegrid view > hourmarker */
    .schedule-view-timegrid-hourmarker {
        position:absolute;
        width: 100%;
        left: 60px;
        z-index: 98;
    }

    .schedule-view-timegrid-hourmarker-wrap {
        position: relative;
        margin-right:60px;
    }

    .schedule-view-timegrid-hourmarker-line {
        width: 100%;
        height: 1px;
        background-color: red;
    }

    .schedule-view-timegrid-hourmarker-time {
        position: absolute;
        width: 55px;
        left: -60px;
        text-align: right;
        line-height: 0.1em;
        color: red;
    }

    .schedule-view-timegrid-todaymarker {
        position:absolute;
        text-indent: -9999px;
        width: 5px;
        height: 5px;
        background-color: red;
        margin: -3px 0 0 -3px;
        border-radius: 50%;
        z-index: 99;
    }

    /* time view */
    .schedule-view-time-date {
        position: relative;
        height: 100%;
        float: left;
        border-right: 1px solid #ccc;
        margin-left: -1px;
    }

    .schedule-view-time-date:last-child {
        border-right: none;
        margin: 0;
    }

        /* time view > event block element */
        .schedule-view-time-date-event-block{
            position: absolute;
            right: 0px;
        }

        .schedule-view-time-event {
            position: relative;
            left: 1px;
            margin-right: 7px;
            height: 100%;
            font-size: 0.9em;
        }

        .schedule-view-time-resize-handle {
            position: absolute;
            left: 0px;
            right: 7px;
            text-align: center;
            bottom: 0px;
            color: #fff;
            cursor: row-resize;
            background-position: center 7px;
        }

        .schedule-view-time-creation-guide {
            left: 1px;
            right: 2px;
            position: absolute;
            background-color: #7CAFC2;
            opacity: 0.6;
        }

        .schedule-view-time-date:last-child .schedule-view-time-event,
        .schedule-view-time-date:last-child .schedule-view-time-creation-guide {
            left: 0px;
        }

        .schedule-view-time-move-guide .schedule-view-time-event,
        .schedule-view-time-move-guide .schedule-view-time-resize-handle {
            opacity: 0.7;
            z-index: 97;
        }

        .schedule-view-time-resize-guide .schedule-view-time-event,
        .schedule-view-time-resize-guide .schedule-view-time-resize-handle {
            opacity: 0.7;
            z-index: 97;
        }

