#top {
    height: 48px;
    line-height: 48px;
    border-bottom: 1px solid #bbb;
    padding: 0 12px;
}

#lnb {
    position: absolute;
    width: 160px;
    top: 48px;
    bottom: 0;
    border-right: 1px solid #bbb;
}


#right {
    position: absolute;
    left: 160px;
    top: 48px;
    right: 0;
    bottom: 0;
}

.lnb-new-schedule {
    height: 48px;
    border-bottom: 1px solid #ddd;
}

.lnb-new-schedule-btn {
    height: 100%;
    font-size: 14px;
    background-color: #ff661955;
    border: 1px solid #e9d6cd;
    color: #5d3b20;
    outline: 0;
    border-radius: 0;
    text-align: left;
    border: 0;
}

.lnb-new-schedule-btn > .fa {
    margin-right: 14px;
}

.lnb-calendars {
    padding-left: 20px;
}

.lnb-calendars-d1 {
    padding-left: 8px;
}

.lnb-calendars-item {
    min-height: 26px;
}

#menu {
    height: 48px;
    line-height: 48px;
    padding-left: 14px;
}

.checkbox-title {
    margin-left: 5px;
}

.move-day {
    border: 0;
}

.calendar-bar {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    display: inline-block;
    border: 1px solid #eee;
    vertical-align: middle;
}

.calendar-name {
    font-size: 14px;
    font-weight: bold;
    vertical-align: middle;
}

.schedule-time {
    color: #005aff;
}

#calendar {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5px;
    top: 47px;
}

.calendar-more-schedules {
    display: inline-block;
    height: 18px;
    line-height: 18px;
    padding: 0 5px;
    border-radius: 3px;
    border: 1px solid #dddddd;
    font-size: 14px;
    text-align: center;
}

.calendar-footer-more-schedules {
    font-size: 14px;
}

.tui-full-calendar-dayname-container {
    height: 60px;
}

.tui-full-calendar-dayname {
    height: 59px;
}

.calendar-week-dayname-name {
    font-size: 12px;
    line-height: 21px;
    font-weight: bold;
}

.calendar-week-dayname-date {
    font-size: 26px;
}

.calendar-week-dayname-date:hover {
    cursor: pointer;
    border-bottom: 2px solid;
}

.tui-full-calendar-month-more-close {
    cursor: pointer;
}

.tui-full-calendar-month-week-item .tui-full-calendar-today .tui-full-calendar-weekday-grid-date-decorator {
    width: auto;
    border-radius: 27px;
    padding: 0 5px;
}

.tui-full-calendar-month-week-item .tui-full-calendar-weekday-grid-date-title {
    color: red;
}

.tui-full-calendar-weekday-exceed-in-month {
    float: right;
    margin-top: 4px;
    margin-right: 5px;
}

.tui-full-calendar-month-dayname-item {
    padding-left: 8px;
    padding-right: 0;
    text-align: unset;
}

.tui-full-calendar-month-week-item >
.tui-full-calendar-weekday-grid-line:hover {
    background-color: #f0f1f5;
}

.tui-full-calendar-weekday-grid-footer {
    left: 0;
    right: 0;
    height: 50px;
}

.tui-full-calendar-weekday-grid-footer .tui-full-calendar-weekday-exceed-in-month {
    float: none;
    margin-left: 10px;
    font-size: 12px;
    color: #7eb9e7;
}

.tui-full-calendar-weekday-grid-line:hover .calendar-new-schedule-button {
    visibility: visible;
}

.calendar-new-schedule-button {
    cursor: pointer;
    visibility: hidden;
    border: 1px dashed #ddd;
    margin: 0 10px;
    padding: 3px 0;
    font-size: 12px;
    text-align: center;
    color: #999;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0
}

/**  custom bootstrap */
.btn {
    border-radius: 0;
    font-weight: bold;
}

.modal-dialog {
    width: 500px;
}

.modal-body > .input-group {
    margin-bottom: 8px;
}

.modal-body-allday {
    line-height: 33px;
}

.modal-body-allday > label {
    margin-bottom: 0;
}

.input-group .tui-datepicker-input {
    height: 34px;
}

.bi15 {
    width: 15px;
    height: 15px;
}

/** custom fontawesome */
.fa {
    width: 12px;
    height: 12px;
    margin-right: 2px;
}