/**
 * dooray-calendar
 *
 * View's minimum size values.
 * Days 600 x 630
 *
 * Days.AllDay 600 x 30
 * Days.Task = 200px
 * Days.Time = 400px 
 */

.view-days-container {
    width: 598px;
    border: 1px solid #ccc;
    font-size: 0.7em;
}

.view-allday-container {
    width: 598px;
    height: 60px;
}

.view-task-container {
    width: 598px;
    height: 150px;
}

.view-time-container {
    width: 598px;
    height: 416px;
    overflow: auto;
    border-top: 2px solid #ccc;
}

/**
 * Times view
 */

.view-time {
    position: relative;
    overflow: hidden;
}

.view-time-hourmarker {
    position:absolute;
    width: 100%;
    left: 60px;
    z-index: 99;
}

.view-time-hourmarker-line {
    width: 100%;
    height: 1px;
    background-color: red;
}

.view-time-hourmarker-time {
    position: absolute;
    width: 55px;
    left: -60px;
    text-align: right;
    line-height: 0.1em;
    color: red;
}

.view-time-left {
    width: 60px;
    float: left;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.view-time-left li {
    padding: 3px 5px 0 0;
    width: 54px;
    height: 36px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    text-align: right;
    background-color: #eee;
    color: #777;
}

.view-time-left li:last-child {
    border-bottom: none;
}

.view-time-right {}

.view-time-grid {
    margin-top:19px;
    border-top: 1px dotted #eee;
    height: 19px;
    border-bottom: 1px solid #ccc;
}

.view-time-grid:last-child {
    border-bottom: none;
}

/*시간별 일정 출력*/

.view-time-events {
    position:absolute;
    width: 100%;
    top: 0px;
}

.view-time-events-container {
    margin-left:60px;
}

.view-time-date {
    float: left;
    background-color: yellow;
    opacity: 0.3;
}

.view-time-date:nth-of-type(odd) {
    background-color: red;
}
