/**
 * css for common design classes.
 */

.schedule-view-dragging {
    cursor: move;
}
.schedule-view-resizing {
    cursor: row-resize;
}

.schedule-view-hidden {
    display: none !important;
}

.schedule-invisible span {
    visibility: hidden;
}

.schedule-view-clear {
    *zoom: 1;
}

.schedule-view-clear:after {
    content: '';
    display: block;
    clear: both;
}
