/**
 * css for common design classes.
 */

.schedule-view-dragging {
    cursor: move;
}
.schedule-view-resizing {
    cursor: row-resize;
}

.schedule-view-hidden {
    display: none !important;
}

.schedule-invisible span {
    visibility: hidden;
}

.schedule-view-clear {
    *zoom: 1;
}

.schedule-view-clear:after {
    content: '';
    display: block;
    clear: both;
}

.handle-x {
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAECAMAAACEE47CAAAACVBMVEX///////////+OSuX+AAAAA3RSTlMrQJG5H4EIAAAAEUlEQVR4AWNgYoRABhjEFAEAArQAIcHQcPsAAAAASUVORK5CYII=);
}

.handle-y {
    background-position: right center;
    background-repeat: no-repeat;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAICAMAAADp7a43AAAACVBMVEX///////////+OSuX+AAAAA3RSTlMrQJG5H4EIAAAAEUlEQVR4AWNgYmRiZABB/CwAAtgAIUTUNkMAAAAASUVORK5CYII=);
}
