@import "variables.styl"
@import "common.styl"
@import "weekday.styl"

// Week view styles
@import "week/layout.styl"
@import "week/dayname.styl"
@import "week/daygrid.styl"
@import "week/time.styl"

// Month view styles
@import "month.styl"

// Layout styles
@import "vlayout.styl"

// Popup view styles
@import "popup.styl"

// for icons
@import "icons.styl"