// Monthweek view
+prefix-classes(monthweek)
    .container,
    .grid,
    .grid-line
        height: 100%
        min-height: inherit;

    .container
        position: relative

    .grid-line
        position: absolute
        margin-left: -1px
        border-left: 1px solid #ccc
        padding: 30px
        font-size: 12px
        &.near-month-day
            color: #ff8383

    .schedules
        pos(0px, 0px)
        wh(100%, 100%)
        position: absolute

    .schedule-block
        position: absolute

    .schedule
        position: relative
        margin: 0 3px 0 2px

    .schedule span
        padding-left: 3px
        line-height: 18px
        font-size: 12px

    .schedule-title
        display: block
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
        margin-right: 10px

    .exceed-left .schedule
        margin-left: 0px

    .exceed-right .schedule
        margin-right: 0px

    .exceed-right .resize-handle
        display: none

    .resize-handle
        position: absolute
        top: 2px
        right: 0
        width: 6px
        background-position: 3px center
        cursor: col-resize
