.{css-prefix}month
    height: 100%

+prefix-classes(month)
    .dayname
        wh(100%, 37px)
        position: absolute
        font-size: 12px
        font-weight: bold
        z-index: 1
        background: #f1f1f3
        border-bottom: 1px solid #e7e7e7

    .dayname-item
        height: 100%
        margin-left: -1px
        line-height: 37px
        text-align: center

        &:first-child
            border-left: none

    .weeks
        padding-top: 20px
        height: 100%

    .week-item
        position: relative
        background-color: #fff

    .more
        background-color: #fff
        height: inherit
        min-width: 200px
        border: 1px solid #ccc

    .more-title
        padding: 0 3px
        height: 19px
        border-bottom: 1px solid #ccc

    .more-close
        float: right

    .more-list
        overflow-y: scroll

    .more-event
        margin: 2px
        padding: 0 3px
        font-size: 0.9em
        line-height: 18px

    .guide-block
        position: absolute

    .guide
        position: relative
        margin: 2px 3px 0 2px
        padding-left: 3px
        background-color: #f7ca88
        line-height: 18px
        opacity: 0.9
        overflow: hidden
        white-space: nowrap
        text-overflow: ellipsis

    .exceed-left .guide
        margin-left: 0px

    .exceed-right .guide
        margin-right: 0px

    .exceed-right .guide-handle
        display: none

    .guide-handle
        position: absolute
        top: 0
        right: 3px
        width: 6px
        background-position: 3px center
        cursor: col-resize

