// Monthweek view
+prefix-classes(monthweek)
    .container,
    .grid,
    .grid-line
        height: 100%

    .container
        position: relative

    .grid-line
        position: absolute
        margin-left: -1px
        border-left: 1px solid #ccc

    .events
        pos(0px, 0px)
        wh(100%, 100%)
        position: absolute
