.{css-prefix}month
    height: 100%

+prefix-classes(month)
    .dayname
        wh(100%, 19px)
        background-color: #fff
        font-size: 0.9em
        position: absolute
        z-index: 1
        border-bottom: 1px solid #ccc

    .dayname-item
        border-left: 1px solid #ccc
        margin-left: -1px

    .weeks
        padding-top: 20px
        height: 100%

    .week-item
        border-bottom: 1px solid #ccc
        position: relative
        background-color: #fff

    .more
        background-color: #fff
        height: inherit
        min-width: 200px
        border: 1px solid #ccc
        box-shadow: 0 0 10px #aaa

    .more-title
        padding: 0 3px
        height: 19px
        border-bottom: 1px solid #ccc

    .more-close
        float: right

    .more-list
        overflow-y: scroll

    .more-event
        font-size: 0.9em;
        line-height: 18px
        padding: 0 3px
        margin: 2px

