css-prefix = 'schedule-view-'

// Allday
allday = css-prefix + 'allday-'
monthweek = css-prefix + 'monthweek-'

wh(w, h)
    width: w
    height: h

pos(top, left)
    top: top
    left: left

vendor(prop, args)
    -webkit-{prop} args
    -moz-{prop} args
    {prop} args

clearfix()
    zoom: 1;
    &:after
        content: '';
        display: block;
        clear: both;
    
