// Variables
// default prefix
css-prefix = '/* @echo CSS_PREFIX */'
// Dayname
dayname = css-prefix + 'dayname-'
// Allday
allday = css-prefix + 'allday-'
monthweek = css-prefix + 'monthweek-'
// Time
timegrid = css-prefix + 'timegrid-'
time = css-prefix + 'time-'

// services
milestone = css-prefix + 'milestone-'
minicalendar = css-prefix + 'minicalendar-'
taskview = css-prefix + 'task-'


// Functions
wh(w, h)
    width: w
    height: h

pos(top, left)
    top: top
    left: left

vendor(prop, args)
    -webkit-{prop} args
    -moz-{prop} args
    {prop} args

clearfix()
    zoom: 1;
    &:after
        content: '';
        display: block;
        clear: both;
    
