+prefix-classes(css-prefix)
    .vlayout-container
        position: relative

    .splitter
        clear: left
        cursor: row-resize
        height: 1px !important
        border-bottom: unset !important

        &:hover
            border-color: #999

    .splitter-focused
        background-color: #ddd
        border: none

    .splitter-guide
        position: absolute
        wh(100%, 1px)
        border: none
        background-color: #e8e8e8
