+prefix-classes(css-prefix)
    .vlayout-container
        position: relative

    .splitter
        clear: left
        height: 3px
        border: 1px solid #ddd
        border-width: 1px 0
        cursor: row-resize

        &:hover
            border-color: #999

    .splitter-focused
        height: 3px
        background-color: #ddd
        border: none

    .splitter-guide
        position: absolute
        wh(100%, 3px)
        border: none
        background-color: #e8e8e8
