.{css-prefix}month-week-item
    .{css-prefix}weekday-grid
        overflow-y: hidden

    .{css-prefix}weekday-schedules
        overflow-y: visible
        height: 0

    .{css-prefix}weekday-schedule
        margin: 0 10px

    .{css-prefix}today
        background: none

        .{css-prefix}weekday-grid-date-decorator
            display: inline-block
            wh(27px, 27px)
            line-height: 27px
            text-align: center
            background: #135de6
            border-radius: 50%
            color: #fff
            font-weight: bold

    .{css-prefix}holiday-sun,
    .{css-prefix}holiday-sat
        background: #fafafa

    .{css-prefix}extra-date
        color: #bbb

        &.{css-prefix}holiday-sun
            color: #f3acac

+prefix-classes(weekday)
    .container,
    .grid,
    .grid-line
        height: 100%
        min-height: inherit

    .grid
        position: absolute
        width: 100%
        overflow-y: scroll

    .border
        border-top: 1px solid #ddd

    .container
        position: relative
        &>div
            height: 100%

    .grid-line
        position: absolute
        border-left: 1px solid #ddd
        margin-left: -1px
        padding: 3px
        font-size: 16px

        .grid-footer
            position: absolute
            bottom: 4px

        .grid-date
            display: inline-block
            wh(27px, 27px)
            line-height: 27px
            text-align: center

        .grid-date-title
            line-height: 27px
            margin-right: 5px

    .creation
        pos(0, 0)
        wh(100%, 100%)
        position: absolute
        overflow-y: scroll

    .schedules
        pos(0, 0)
        wh(100%, 100%)
        position: absolute
        font-size: 12px
        overflow-y: scroll

    .schedules-height-span
        width: 1px
        margin-left: -1px

    .schedule-block
        position: absolute

    .schedule-block-dragging-dim
        opacity: 0.4

    .schedule
        position: relative
        margin: 0 10px 0 1px
        cursor: pointer
        border-left-style: solid
        border-left-width: 3px

        &.schedule-time
            border-left-width: 0

            .schedule-title
                padding-left: 9px

    .schedule-bullet
        position: absolute
        padding: 0
        wh(6px, 6px)
        top: 6px 
        left: 0
        border-radius: 50%

    .schedule-bullet-focused
        left: 10px
        background: #ffffff

    .schedule-title
        display: block
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
        line-height: 18px
        padding-left: 3px;
        font-weight: bold;

    .schedule-title-focused
        padding-left: 16px

    .exceed-left .schedule
        margin-left: 0
        border-left-width: 0

    .exceed-right .schedule
        margin-right: 0

    .exceed-right .resize-handle
        display: none

    .exceed
        cursor: pointer
        &:hover
            background-color: #f0f1f5

    .resize-handle
        position: absolute
        top: 0
        right: 0
        width: 6px
        background-position: 3px center
        cursor: col-resize
        line-height: 18px

    .filled
        background-color: #e8e8e8

+prefix-classes(css-prefix)
    .left
        wh(77px, 100%)
        flex()
        flex-justify-content(flex-end)
        flex-align-items(center)
        float: left
        border-right: 1px solid #ddd
        padding-right: 5px
        box-sizing: border-box
        font-size: 11px
        line-height: 18px
        color: #222

    .right
        height: 100%
        background-color: #fff
        margin-left: 77px 
        overflow-y: scroll
        position: relative
