/**
 * css for Week view
 */

/* week container */
.schedule-view-week-container {
    width: 100%;
    display: inline-block;
    border: 1px solid #ccc;
    font-size: 0.7em;
}

/* dayname view */
.schedule-view-dayname-container {
    padding-left:60px;
    overflow-y: scroll;
    background-color: #eee;
}

.schedule-view-dayname {
    height: 40px;
    margin-left: -1px;
    border-left: 1px solid #ccc;
    background-color: #fff;
    float: left;
    line-height: 20px;
}

.schedule-view-dayname-label {
    padding-left: 7px;
    font-size: 1.2em;
}

.schedule-view-dayname-date {
    padding-left: 7px;
    font-size: 1.3em;
    font-weight: bold;
}

.schedule-holliday {
    color: red;
}

/* allday view */
.schedule-view-allday-container {
    min-height: 62px;
    border-top: 2px solid #ccc;
    background-color: #eee;
    overflow-y: scroll;
}

.schedule-view-allday-left {
    width: 60px;
    height: 100%;
    float: left;
    text-align: right;
    color: #777;
}

.schedule-view-allday-left span {
    display: block;
    padding: 3px 5px 0 0;
}

.schedule-view-allday-right {
    position: relative;
    background-color: #fff;
    margin-left: 60px;
}

.schedule-view-monthweek-grid-line {
    position:absolute;
    height: 100%;
    margin-left: -1px;
    border-left: 1px solid #ccc;
}

.schedule-view-monthweek-events {
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0px;
    left: 0px;
    position: absolute;
}

    /* allday view > event block */
    .schedule-view-allday-event-block {
        margin-top: 2px;
        position: absolute;
    }

    .schedule-view-allday-event {
        margin: 0 3px 0 2px;
        background-color: #a1b56c;
    }

    .schedule-view-day:last-child .schedule-view-allday-event {
        margin-right: 2px;
    }
    
    .schedule-view-allday-event span {
        padding-left: 3px;
        line-height: 18px;
        font-size: 0.8em;
        color: #fff;
    }

    .schedule-view-allday-exceed-left .schedule-view-allday-event {
        margin-left: 0px;
    }

    .schedule-view-allday-exceed-right .schedule-view-allday-event {
        margin-right: 0px;
    }

    /* allday view creation guide element */
    .schedule-view-allday-creation-guide-block {
        position: absolute;
    }

    .schedule-view-allday-creation-guide-block span {
        position: absolute;
        top: 0px;
        left: 3px;
        display:block;
        line-height: 18px;
        margin-top: 2px;
        padding-left: 3px;
        color: #fff;
        font-size: 0.8em;
        text-shadow: 1px 1px #585858;
    }

    .schedule-view-allday-creation-guide {
        margin: 2px 2px 0 2px;
        padding-left: 3px;
        background-color: #f7ca88;
        line-height: 18px;
        opacity: 0.8;
        outline: 2px solid #fff;
    }

    .schedule-view-allday-creation-guide:after {
        content: '\00a0';
    }

/* task view */
.schedule-view-task-container {
    height: 150px;
}

/* timegrid view */
.schedule-view-timegrid-container {
    height: 416px;
    overflow-y: scroll;
    border-top: 2px solid #ccc;
    background-color: #ccc;
}

.schedule-view-timegrid-scroll-contents {
    height: 416px;
}

.schedule-view-timegrid {
    position: relative;
    overflow: hidden;
    background-color: #fff;
}

.schedule-view-timegrid-left {
    width: 60px;
    float: left;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.schedule-view-timegrid-left li {
    padding: 3px 5px 0 0;
    width: 54px;
    height: 36px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    text-align: right;
    background-color: #eee;
    color: #777;
}

.schedule-view-timegrid-left li:last-child {
    border-bottom: none;
}

.schedule-view-timegrid-right {}

.schedule-view-timegrid-grid {
    margin-top:19px;
    border-top: 1px dotted #eee;
    height: 19px;
    border-bottom: 1px solid #ccc;
}

.schedule-view-timegrid-grid:last-child {
    border-bottom: none;
}

.schedule-view-timegrid-events {
    position:absolute;
    width: 100%;
    height: 100%;
    top: 0px;
}

.schedule-view-timegrid-events-container {
    margin-left:60px;
    height: 100%;
}

    /* timegrid view > hourmarker */
    .schedule-view-timegrid-hourmarker {
        position:absolute;
        width: 100%;
        left: 60px;
        z-index: 98;
    }

    .schedule-view-timegrid-hourmarker-wrap {
        position: relative;
        margin-right:60px;
    }

    .schedule-view-timegrid-hourmarker-line {
        width: 100%;
        height: 1px;
        background-color: red;
    }

    .schedule-view-timegrid-hourmarker-time {
        position: absolute;
        width: 55px;
        left: -60px;
        text-align: right;
        line-height: 0.1em;
        color: red;
    }

    .schedule-view-timegrid-todaymarker {
        position:absolute;
        text-indent: -9999px;
        width: 5px;
        height: 5px;
        background-color: red;
        margin: -3px 0 0 -3px;
        border-radius: 50%;
        z-index: 99;
    }

    /* time view */
    .schedule-view-time-date {
        position: relative;
        height: 100%;
        float: left;
        border-right: 1px solid #ccc;
        margin-left: -1px;
    }

    .schedule-view-time-date:last-child {
        border-right: none;
        margin: 0;
    }

        /* time view > event block element */
        .schedule-view-time-date-event-block{
            position: absolute;
            right: 0px;
        }

        .schedule-view-time-event {
            position: relative;
            left: 1px;
            margin-right: 7px;
            height: 100%;
            background-color: #7cafc2;
            font-size: 0.8em;
            color: #fff;
        }

        .schedule-view-time-resize-handle {
            position: absolute;
            left: 0px;
            right: 7px;
            text-align: center;
            bottom: 0px;
            color: #fff;
            cursor: row-resize;
            font-size: 0.6em;
            font-family: 'Arial';
            line-height: 0.6em;
        }

        .schedule-view-time-creation-guide {
            left: 1px;
            right: 2px;
            position: absolute;
            background-color: #7CAFC2;
            opacity: 0.6;
        }

        .schedule-view-time-date:last-child .schedule-view-time-event,
        .schedule-view-time-date:last-child .schedule-view-time-creation-guide {
            left: 0px;
        }

        .schedule-view-time-move-guide .schedule-view-time-event,
        .schedule-view-time-move-guide .schedule-view-time-resize-handle {
            opacity: 0.7;
            z-index: 97;
        }

        .schedule-view-time-resize-guide .schedule-view-time-event,
        .schedule-view-time-resize-guide .schedule-view-time-resize-handle {
            opacity: 0.7;
            z-index: 97;
        }

