.{css-prefix}month-week-item
    .{css-prefix}weekday
        border-top: 1px solid #ccc

        .{css-prefix}weekday-grid
            overflow-y: hidden

        .{css-prefix}weekday-events
            overflow-y: hidden

        .{css-prefix}today
            background: none;

            > span
                background: #135de6
                border-radius: 50%
                color: #fff
                font-weight: bold
            
        .{css-prefix}holiday-sun,
        .{css-prefix}holiday-sat
            background: #fafafa

+prefix-classes(weekday)
    .container,
    .grid,
    .grid-line
        height: 100%
        min-height: inherit

    .grid
        position: absolute
        width: 100%
        overflow-y: scroll

    .container
        position: relative
        &>div
            height: 100%

    .grid-line
        position: absolute
        border-left: 1px solid #ddd
        margin-left: -1px
        padding: 3px
        text-align: right
        font-size: 16px

        >span
            display: inline-block
            wh(27px, 27px)
            line-height: 27px
            text-align: center
    .events
        pos(14px, 0)
        wh(100%, calc(100% - 14px))
        position: absolute
        font-size: 12px
        overflow-y: scroll

    .event-block
        position: absolute

    .event
        position: relative
        margin: 0 3px 0 2px
        cursor: pointer

    .event span,
    .event-time span
        padding-left: 3px
        line-height: 18px

    .event-title
        display: block
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis

    .exceed-right .event
        margin-right: 0

    .exceed-right .resize-handle
        display: none

    .resize-handle
        position: absolute
        top: 0
        right: 0
        width: 6px
        background-position: 3px center
        cursor: col-resize

    .filled
        background-color: #e8e8e8

+prefix-classes(css-prefix)
    .left
        wh(77px, 100%)
        flex()
        flex-justify-content(flex-end)
        flex-align-items(center)
        float: left
        border-right: 1px solid #ddd
        padding-right: 5px
        box-sizing: border-box
        font-size: 11px
        line-height: 18px
        color: #222

    .right
        height: 100%
        background-color: #fff
        margin-left: 77px 
        overflow-y: scroll
        position: relative
