<div class="schedule-view-display-table">
    {{! 요일명 영역 }}
    <div class="schedule-view-display-table-row">
        <div class="schedule-view-display-table-cell">
            <div class="schedule-view-scroll-y schedule-view-dayname-layout"></div>
        </div>
    </div>

    {{! 마일스톤, 업무 }}
    <div class="schedule-view-display-table-row">
        <div class="schedule-view-display-table-cell">
            <div class="schedule-view-scroll-y schedule-view-milestone-layout" style="min-height:80px;max-height:100px"></div>
        </div>
    </div>

    {{! 종일일정 }}
    <div class="schedule-view-display-table-row">
        <div class="schedule-view-display-table-cell">
            <div class="schedule-view-scroll-y schedule-view-allday-layout"></div>
        </div>
    </div>
    {{! 시간별 }}
    <div class="schedule-view-display-table-row">
        <div class="schedule-view-display-table-cell schedule-view-timegrid-layout"></div>
    </div>
</div>
