html, body {
    background-color: #fff;
    margin: 0;
    padding: 0 11px;
    height: 100%;
    font-family: 'NanumBarunGothicOTF'
}

div {
    box-sizing: border-box
}

#wrap {
    height: 100%;
    position: relative;
}

#calendar {
    position: absolute;
    top: 40px;
    right: 0px;
    bottom: 20px;
    left: 0px;
    z-index: 1;
}

.control {
    height: 40px;
    line-height: 40px;
}

.clearfix {
    *zoom: 1;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

.inline-block {
    display: inline-block;
    vertical-align: middle;
}

.float-right {
    float: right;
}
