.column {
  position: relative;
}

.column .gridline-half {
  position: absolute;
  width: 100%;
}

.column .grid-selection {
  position: absolute;
  right: 10px;
  left: 1px;
  padding: 3px;
}

.column .grid-selection .grid-selection-label {
  font-size: 11px;
  font-weight: bold;
}

.column .events {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
