.column {
  position: relative;
  border-left: 1px solid #e5e5e5;
}
.column .gridline {
  position: relative;
  height: 52px;
  border-bottom: 1px solid #e5e5e5;
}
.column .gridline .gridline-half {
  position: absolute;
  width: 100%;
  height: 26px;
  border-bottom: 1px dotted #f9f9f9;
}
.column .grid-selection {
  position: absolute;
  right: 10px;
  left: 1px;
  padding: 3px;
  background-color: rgba(81, 92, 230, 0.05);
  border: 1px solid #515ce6;
}
.column .grid-selection .grid-selection-label {
  color: #515ce6;
  font-size: 11px;
  font-weight: bold;
}
.column .grid-selection .grid-selection-label.grid-selection-label-bottom {
  position: absolute;
  bottom: 3px;
}
.column .events {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
