.panel.time {
  overflow-y: auto;
}

.timegrid {
  user-select: none;
  position: relative;
  height: 200%;
  min-height: 900px;
}

.timegrid .timegrid-scroll-area {
  position: relative;
  height: 100%;
}

.timegrid .columns {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.timegrid .columns .gridline-half {
  position: absolute;
  width: 100%;
}

.timegrid .columns .gridline-half--upper {
  border-bottom: 1px dotted #f9f9f9;
}

.timegrid .columns .gridline-half--lower {
  border-bottom: 1px solid #e5e5e5;
}

.timegrid .columns .column {
  display: inline-block;
  height: 100%;
}

.timegrid .timegrid-current-time-line {
  position: absolute;
  left: 0;
  right: 0;
}

.timegrid .timegrid-current-time-line .timegrid-current-time-line-left {
  position: absolute;
  border-top: 1px dashed;
}

.timegrid .timegrid-current-time-line .timegrid-current-time-line-marker {
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  margin: -4px 0 0 -5px;
}

.timegrid .timegrid-current-time-line .timegrid-current-time-line-today {
  position: absolute;
  border-top: 1px solid;
}

.timegrid .timegrid-current-time-line .timegrid-current-time-line-right {
  position: absolute;
  right: 0;
  border-top: none;
}

.timegrid-sticky {
  position: absolute;
  top: 0;
  border-bottom: 1px solid #e5e5e5;
  background-color: white;
  font-size: 11px;
  user-select: none;
}

.timegrid-sticky .timegrid-timezone-label {
  display: inline-block;
  text-align: right;
  padding-right: 5px;
  border-right: 1px solid #e5e5e5;
  height: 40px;
  line-height: 40px;
}

.timegrid-sticky .timegrid-collapse-button {
  cursor: pointer;
  position: absolute;
  text-align: center;
  background-color: #fff;
  border: 1px solid #ddd;
  top: 2px;
  bottom: 2px;
  width: 10px;
  border-left: none;
}

.timegrid-sticky .timegrid-collapse-button .icon {
  width: 5px;
}
