.timegrid-times {
  display: inline-block;
  position: relative;
  font-size: 11px;
}

.timegrid-times .timegrid-time {
  height: 52px;
  text-align: right;
  position: relative;
  line-height: 52px;
  top: -26px;
  right: 5px;
  color: #333;
}

.timegrid-times .timegrid-time.timegrid-time-past {
  font-weight: normal;
}

.timegrid-times .timegrid-time.timegrid-time-first {
  top: 5px;
  line-height: normal;
}

.timegrid-times .timegrid-time.timegrid-time-last {
  height: 0;
  top: -36px;
}

.timegrid-times .timegrid-time-hidden {
  visibility: hidden;
}

.timegrid-times .timegrid-current-time {
  position: absolute;
  text-align: right;
  right: 5px;
  color: #515ce6;
  font-size: 11px;
  font-weight: normal;
}
