.timegrid-column {
  $borderColor: #e5e5e5;

  position: relative;
  border-right: 1px solid $borderColor;

  .timegrid-gridline {
    $height: 52px;

    position: relative;
    height: $height;
    border-bottom: 1px solid $borderColor;

    .timegrid-gridline-half {
      position: absolute;
      width: 100%;
      height: $height / 2;
      border-bottom: 1px dotted #f9f9f9;
    }
  }

  .event-background {
    position: absolute;
  }

  .timegrid-guide-creation {
    position: absolute;
    right: 10px;
    left: 1px;
    padding: 3px;
    background-color: rgba(81, 92, 230, 0.05);
    border: 1px solid rgb(81, 92, 230);

    .creation-label {
      color: rgb(81, 92, 230);
      font-size: 11px;
      font-weight: bold;

      &.creation-label-bottom {
        position: absolute;
        bottom: 3px;
      }
    }
  }
}
