.timegrid-times {
  $margin: 5px;

  display: inline-block;
  position: relative;
  border-right: 1px solid #e5e5e5;
  font-size: 11px;

  .timegrid-time {
    $height: 52px;

    height: $height;
    text-align: right;
    position: relative;
    line-height: $height;
    top: -($height / 2);
    right: $margin;
    color: #333;

    &.timegrid-time-past {
      color: #bbb;
    }

    &.timegrid-time-first {
      top: $margin;
      line-height: normal;
    }

    &.timegrid-time-last {
      height: 0;
      top: -($height / 2) - ($margin * 2);
    }
  }

  .timegrid-time-hidden {
    visibility: hidden;
  }

  .timegrid-current-time {
    position: absolute;
    text-align: right;
    right: $margin;
    color: #515ce6;
  }
}
